@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  overscroll-behavior: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::-webkit-scrollbar {
  width: 7px; /* Change to desired width */
  height: 6px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background-color: grey; /* Scroll thumb color */
  border-radius: 3px; /* Rounded scrollbar edges */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@media (prefers-reduced-motion: reduce) {
  .parallax-disable *,
  .parallax-disable *::before,
  .parallax-disable *::after {
    animation: none !important;
    transition: none !important;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .sticky-header {
    /* position: sticky; */
    position: -webkit-sticky;
  }
}

body {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: none;
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
